# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Environments
.env
.venv/
venv/
env/

# IDE / Editor
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Output files
*.html
*.log

# Cache
.cache/
